Source: reallysimplebackup
Section: utils
Priority: optional
Maintainer: Mikko Rantalainen <mikko.rantalainen@iki.fi>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: 
Vcs-Git: 
Vcs-Browser: 

Package: reallysimplebackup
Architecture: all
Depends: ${misc:Depends}, python (>= 2.5), hardlink (>= 0.1.1), rsync (>= 3.0.3)
Replaces: backup
Conflicts: backup
Description: Hardlinks multiple copies of the same file
 Hardlink is a tool which detects multiple copies of the same file and replaces
 them with hardlinks.
 .
 The idea has been taken from http://code.google.com/p/hardlinkpy/, but the
 code has been written from scratch and licensed under the MIT license.
